.homepage {
    @media only screen and (min-device-width: 1200px) {
        width: 100vw;
        min-height: 100vh;
        background-color: rgb(241, 232, 232);
        padding: 6rem 8rem 1rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 6fr 1fr;
        gap: 2rem;
    }
}
